/* border-box */
html {
	box-sizing: border-box;
}
*, *:before, *:after {
	box-sizing: inherit;
}

/* variables */
:root {
		--fs: 16px;
		--size-container: 30em;
		--c-bg: white;
		--c-fg: black;
		--c-link: blue;
}
@media (min-width: 40em) {
	:root {
		--fs: 17px;
	}
}
/* print version */
@media print {
	:root {
		--fs: 16px;
	}
}

/* layout */
html,
body {
	min-height: 100vh;
}

html {
		font-size: var(--fs);
}

body {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin: 0;
	padding: 0.5em;
}

/* default-elements */
h1, h2, h3, h4, p {
	margin: 0;
	margin-bottom: 1em;
}
h1 {
	font-size: 1.7em;
}
h2 {
	font-size: 1.4em;
}
figure {
	margin: 0;
}
a,
a:visited {
	color: var(--c-link);
}
@media print {
	a,
	a:visited {
		color: var(--c-text);
	}
}

/* components */
site-header {
	max-width: var(--size-container);
	font-size: 1.5em;
	text-align: center;
}
site-header header {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}
site-header h1 {
	margin-bottom: 0;
}
site-header a {
	text-decoration: none;
}
site-footer footer {
	display: flex;
	flex-wrap: wrap;
	align-items: flex-end;
	justify-content: center;
}
site-footer figure {
	padding: 1em;
	display: flex;
	flex-direction: column;
	align-items: center;
}
site-footer figcaption {
	text-align: center;
}


site-main menu {
	font-size: 1.4em;
}
site-main menu a {
	text-decoration: none;
	word-break: break-word;
}

menu a {
	display: inline-flex;
	padding: 0.2em;
}
menu li {
	diplay: block;
}

/* web-components */
qr-code {
	display: block;
}
